@font-face {
  font-family: Aileron;
  src:url("../fonts/Aileron-Black.otf");
}

/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {

  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Aileron, serif;
  overflow-x: hidden;
}

a, a:hover, a:visited{                /* ATTENTION LES LIENS SONT BLANC DANS CE MODELE*/
  color: #FFF;
  text-decoration: none;
}
img{
  max-width:100%;
  height: auto;
  vertical-align: middle;
}



